/* title screen */
.titleScreen{
	display: none;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
}

.titleScreen img{
	max-width: 90%;
	margin-top: 1em;
}

.titleLogo{
	font-size: 5vh;
	margin: 0;
	color: var(--bg-color);
}
.titleCommand{
	background: var(--bg-glassy-gradient);
	opacity: 50%;
	color: var(--bg-color);
	padding: 0.5em 1.5em;
	border: 1px dashed var(--bg-color);
	border-radius: 5px;
}
.titleCommand.selected{
	transition: color 0.4s, transform 0.4s, opacity 0.5s;
	opacity: 100%;
	border: 1px solid var(--bg-color);
	transform: translate(0, -0.2em);
	box-shadow: 0.2em 0.2em 0 #000;
}
.titleScreen footer{
	color: var(--bg-color);
	text-align: center;
	margin: 2em;
}

/* container saving */
.container__saving{
	padding: 1em;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	display: none;
	gap: 0.2em;
	color: var(--font-color);
}
.container__saving div{
	padding: 0.5em 1em;
	color: var(--font-color);
	border: 1px solid var(--font-color);
}
.container__saving div.selected{
	color: var(--bg-color);
	border: none;
	background: var(--font-color);
	transition: color 0.4s, border 0.4s;
}

/*MainWorld UI*/
.charWin{
	display: none;
}
.quickstats{
	display: flex;
	justify-content: center;
	align-items: center;
	top: 4%;
	left: 50%;
	transform: translate(-50%, 0);
	gap: 1em;
	padding: 1em;
}
.characterQuickInfo{
	bottom: 5%;
	left: 50%;
	transform: translateX(-50%);
	gap: 0.5em;
}

/*character menu*/
.characterMenu{
	display: none;
	top: 25%;
	left: 50%;
	justify-content: space-between;
	align-items: center;
	min-width: 90%;
	max-width: 100%;
	padding: 1em;
	gap: 1em;
	transform: translate(-50%, -50%);
	z-index: 6;
}
.characterMenu::before{
	content: '';
	z-index: -1;
	position: absolute;
	width: 100%;
	height: 25%;
	bottom: 20%;
	left: 0;
	background: var(--dynny-color);
	border-radius: 50px;
	overflow: hidden;
}
.it:before{
	position: absolute;
	content: "";
	z-index: 0;
	bottom: 1.25em;
	width: 3em;
	height: 1em;
	background: #000;
	border-radius: 50%;
	opacity: 50%;
}
.characterMenu .description{
	width: 75%;
	text-shadow: 0 1px 0 #000, 0 2px 0 #000, 0 3px 0 #000, 0 4px 0 #000;
	color: white;
	text-align: right;
	font-size: 2em;
	font-family: "classicalComic", sans-serif;
}
.characterMenu .it.selected{
	transform: translate(0, -2px);
}
.characterMenu .it.selected:before{
	position: absolute;
	content: "";
	z-index: 0;
	left: 0;
	width: 3em;
	height: 3em;
	background: var(--Dynny-color);
	border-radius: 50%;
}

/*dialog*/
.dialogs{
	position: absolute;
	display: none;
	transform: scale(0.2);
	transition: transform 0.6s;
}
.comic{
	font-family: "playpenSans-regular", "classicComic", sans-serif;
	background: #fff;
	border-radius: 1em;
	border: 2px solid black;
	padding: 0.5em;
	box-shadow: 0 3px 0 #000;
	box-shadow: 0 5px 0 #000;
}
.whoTalks{
	font-weight: 900;
}
.speaking{
	margin: 0;
	padding: 1em;
	color: #000;
}
.dialog-option{
	padding-left: 1em;
	position: relative;
}
.dialog-option.selected::before{
	content: "";
	width: 0.5em;
	height: 0.5em;
	background: #000; /*TODO: add Dynny/Protagonist cursor here*/
	background-size: 100px 100px;
	position: absolute;
	top: 0.25em;
	left: 0.25em;
}

.option.selected{
	border: 1px dashed #000;
}

.bags{
	width: 50%;
	padding: 2vh;
}
.bags__item{
	position: relative;
	padding-left: 1.5em;
}
.bags__item.selected::after{
	content: '';
	width: 1em;
	height: 1em;
	background: var(--font-color);
	position: absolute;
	left: 0;
	top: 0;
}

.calendar{
	width: 50%;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.HUD__HPnumber{
	color: var(--bg-color);
	font-size: 2em;
}
.money, .GameDate, .GameHour{
	font-weight: 100;
	color: var(--bg-color);
	font-size: 2em;
	text-shadow: 1px 1px 2px var(--font-color);
}