@keyframes blinking{
	0%{
		opacity: 100%;
	} 50% {
		opacity: 0%;
	} 100% {
		opacity: 100%;
	}
}

@keyframes ballForm{
	0%{
		transform: scale(0);
	} 100% {
		transform: scale(1);
	}
}

.pangolin{
	font-family: 'pangolin', serif;
	font-weight: 400;
}

.notHere{
	display: none;
}

.flex-center{
	display: flex;
	justify-content: center;
	align-items: center;
}

.inGameUI{
	width: 100vh;
	height: 100vh;
}

.HUD, .OutGameMenus{
	width: 100%;
	height: 100%;
	color: white;
	position: relative;
}

.glassy{
	background: linear-gradient(135deg, #fff8 20%, #0046 80%);
	box-shadow: 3px 3px 5px #000;
	color: #fff;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	backdrop-filter:blur(7px);
}

.charWin {
	padding: 2.5%;
	border-radius: 10px;
	position: absolute;
	bottom: 5%;
	left: 5%;
	display: none;
	justify-content: center;
	align-items: center;
	gap: 5%;
}

.charWin__HPbar{
	height: 100%;
	border-radius: 5px;
	background-color: #0c0;
}

.imgIcon{
	width: 2em;
	height: 2em;
	border-radius: 50%;
	border: 1px solid white
}

.HUD__barraDeVida{
	width: 4em;
	height: 1em;
	border-radius: 6px;
	border: 1px solid #fff;
}

.nomePersonagem{
	font-size: 0.75em;
	font-weight: 700;
	font-family: "kindSans", arial;
}

.pauseMenu{
	padding: 2.5%;
	border-radius: 10px;
	position: absolute;
	bottom: 5%;
	left: 5%;
	display: none;
	justify-content: center;
	align-items: center;
}

.it{
	width: 2em;
	height: 2em;
	border-radius: 50%;
	border: 1px solid #fff;
	margin-right: 0.5em;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container__selectCharacters{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	gap: 1em;
}

.container__selectCharacters .unit{
	width: 35%;
	padding: 1em;
	border-radius: 1em;
}

.primary{
	margin: 0 .5em;
	text-align: center;
}

.button__body{
	padding: 0.5em;
	margin: .5em;
	text-align: center;
	border-radius: .5em;
	border: 2px solid #fff
	width: 5em;
}

.container__selectCharacters .unit img{
	width: 100%;
}

.it svg{
	width: 70%;
	height: 70%;
}

.it.selecionado{
	box-shadow: 0 0 10px #fff;
}

.inventario{
	max-width: 10em;
	flex-direction: column;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	column-count: 2;
}

.inventItem{
	margin: .25em;
	
}

.titleScreen{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	min-width: 100%;
	min-height: 100%;
	display: none;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}

.titleScreen .titleLogo{
	text-shadow: 0 1px 0 #aaa, 0 2px 0 #aaa, 0 3px 0 #aaa, 0 4px 0 #aaa;
	font-size: 4em;
	margin-top: 0;
}

.titleScreen img{
	border-radius: 50%;
	max-width: 50%;
	max-height: 50%;
	animation: ballForm 3s ease-out 1;
	
}

.titleScreen footer{
	width: 70%;
	font-size: 0.5em;
	text-align: center;
}

.titleScreen .titleCommand{
	animation: blinking 3s linear infinite;
}

balaoDeTexto{
	position: absolute;
	top: 0;
	left: 0;
	background: #fff;
	border-radius: 50%;
	padding: 2em;
	border: 2px solid #000;
}
balaoDeTexto::after{
	position: absolute;
	content: 'Guaxo';
	top: 0;
	left: 0;
	background: #fff;
	border-radius: 50%;
	padding: .5em 1em;
	font-size: .7em;
	border: 2px solid #000;
}